.menu {
  svg {
    margin-right: 0.5rem;
  }
}
.card {
  margin-bottom: 2rem;
}

.card-img {
  height: 250px;
}
.publisher-link {
  display: flex;
  align-items: center;
  svg {
    margin-right: 0.3rem;
  }
  cursor: pointer;
}
.publish-date {
  display: flex;
  align-items: center;
  svg {
    margin-right: 0.3rem;
  }
}
.card-description {
  margin: 0 1rem;
}

.bookmark-button {
  svg {
    color: #f6a93c;
  }
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.like-button {
  svg {
    color: #e44560;
  }
}

.sharable-link-container {
  margin: 1rem;
  display: flex;
}

.MuiButtonBase-root.menu-item-delete {
  color: #cd2b2c;
}
.MuiGrid-item {
  width: 100%;
}

.MuiCardHeader-action {
  margin-left: 0.5rem;
}
.MuiCardHeader-title.MuiTypography-h5 {
  font-size: 1rem;
}
.MuiButtonBase-root.expand-button {
  margin-left: auto;
}

.MuiCardContent-root.card-content {
  background-color: #f6f7fb;
}

.MuiCardHeader-subheader.MuiTypography-root {
  margin-top: 0.5rem;
}
.expand-button {
}
.expanded {
  transform: rotate(180deg);
}
