.scroll-to-top {
  z-index: 999;
  position: fixed;
  bottom: 80px;
  right: 10px;
  &.visible {
    visibility: visible;
  }
  &.hidden {
    visibility: hidden;
  }
  .button {
    background-color: #d90429;
  }
}
