.pinned-container {
	background-color: #498551;
	color: #fff !important;
	border-radius: 20px !important;
	box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12) !important;

	.pinned-icon {
		color: #ffd700;
		margin: 10px 5px;
		font-size: 1.5rem;
	}

	.pinned-task {
		overflow: hidden;
	}
}
