.timer-container {
	padding: 20px;
	background-color: #498551;
	color: #fff !important;
	border-radius: 20px !important;

	& .timer {
		margin: 50px !important;
	}

	& .timer-buttons {
		min-width: 160px;
		color: #fff;
	}

	& .start-button,
	.stop-button {
		font-size: 2.5em;
		color: #fff;
		border: 2px solid #fff;
		border-radius: 20px;
	}
	& .stop-button {
		color: #000;
		border: 2px solid #000;
	}

	& .icons {
		font-size: 0.4em;
		margin: 50px;
		cursor: pointer;

		&:hover {
			color: #59b2ff;
		}
	}

	.act-icons {
		font-size: 30px;
		margin-right: 10px;
	}
}
