.trends-container {
  margin-top: 1rem;
  width: 100%;
}

.list-container {
  width: 100%;
}

.whatshot-icon {
  margin-right: 0.5rem;
  color: #f64b4b;
}

.trendup-icon {
  color: #2fa5d8;
}

.MuiPaper-root.accordion {
  // background-color: #efe9db;
}

.trend-title {
  color: #393a73;
}

.MuiDialogContent-root.dialog-content {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #292f31;
}

.dialog-title {
  background-color: #faf0ca;
  .MuiTypography-h6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.dialog-content-bottom {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}

.article-container {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  .article-title {
    color: #422fcc;
  }
  .article-content {
    display: flex;
    width: 80%;
    margin-right: 1rem;
    flex-flow: column;
    justify-content: space-between;
  }
  .article-media {
    flex-flow: column;
    display: flex;
    align-items: flex-end;
  }
  .article-thumbnail {
    margin-bottom: 0.2rem;
    width: unset;
    border-radius: 5px;
  }
  .ago {
    display: flex;
    align-items: flex-end;
    svg {
      margin-right: 0.3rem;
    }
  }
}
