.card {
  margin-bottom: 2rem;
}

.card-img {
  height: 150px;
}

.card-description {
  margin: 0 1rem;
}

.MuiButtonBase-root.menu-item-delete {
  color: #cd2b2c;
}
.MuiGrid-item {
  width: 100%;
}

.MuiCardHeader-action {
  margin-left: 0.5rem;
}
.MuiCardHeader-title.MuiTypography-h5 {
  font-size: 1rem;
}
.MuiButtonBase-root.expand-button {
  margin-left: auto;
}
