.page {
  // margin-top: 2rem;
  padding: 1rem;
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #292f31;
  min-height: 100vh;
}

.page-content {
  width: 60vw;
  &.xs {
    width: 95vw;
  }
}
