.page {
  // margin-top: 2rem;
  padding: 1rem;
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #292f31;
  min-height: 100vh;
}

.page-content {
  margin-top: 3.5rem;
  &.xl {
    width: 25vw;
  }
  &.lg {
    width: 35vw;
  }
  &.md {
    width: 55vw;
  }
  &.sm {
    width: 70vw;
  }
  &.xs {
    width: 85vw;
  }
}
