.page {
  // margin-top: 2rem;
  padding: 1rem;
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #292f31;
  min-height: 100vh;
}

.page-content {
  &.lg {
    width: 30vw;
  }
  &.md {
    width: 40vw;
  }
  &.sm {
    width: 50vw;
  }
  &.xs {
    width: 85vw;
  }
}
