.scroll-to-top {
  z-index: 999;
  position: fixed;
  height: 100px;
  bottom: 20px;
  right: 10px;
  &.visible {
    visibility: visible;
  }
  &.hidden {
    visibility: hidden;
  }
  .button {
    background-color: #1b3191;
  }
}
