@import '../../components/generic/styles/variables.scss';

.data-container {
	min-height: 100vh - $navHeight;
	padding: 50px;
	background-color: #efebe1;
	color: #000;

	.title {
		text-align: center;
		color: #000;
		margin: 10px;
	}
}

@media (max-width: 506px) {
	.data-container {
		padding: 10px;
	}
}
