@import '../../components/generic/styles/variables.scss';

.page-container {
	height: 100vh - $navHeight;
	min-height: 92vh;
	padding: 20px;
	background-color: #5c8762;
	color: #ffffff;

	.pinned-grid {
		margin: 20px;
	}
}
