@import '../../components/generic/styles/variables.scss';

.page-container {
	height: auto;
	min-height: 100vh - $navHeight;
	padding: 20px;
	color: #ffffff;
	background: linear-gradient(#407447 0%, #d3f3e1 74%);

	.end-session {
		color: #fff;
		padding: 10px;
		border: 2px solid #fff;
		margin: 30px 0 !important;
	}
}

@media (min-width: 1600px) {
	.MuiTypography-h2 {
		font-size: 7rem !important;
	}
}

@media (min-width: 700px) {
	.btn-container {
		display: contents !important;
	}
}
