@import '../../components/generic/styles/variables.scss';

.home-container {
	background-color: rosybrown;
	min-height: 100vh - $navHeight;

	& .section-one {
		height: 100vh - $navHeight;
		background-color: #bfbfbf;
		&:hover {
			background: linear-gradient(135deg, #23a6d5, #23d5ab, #ee7752, #e73c7e);
			background-size: 400% 400%;
			animation: gradient 10s ease infinite;
			opacity: 0.7;
		}
	}

	& .section-two {
		height: 100vh - $navHeight;
		background-color: #bfbfbf;
		&:hover {
			background: linear-gradient(45deg, #ee7752, #4e077e, #23a6d5, #23d5ab);
			background-size: 400% 400%;
			animation: gradient 15s ease infinite;
			opacity: 0.6;
		}
	}
}

@media (max-width: 768px) {
	.home-container {
		height: 100vh - $navHeight;

		.section-one,
		.section-two {
			height: 50% !important;
			max-width: 100% !important;
			flex-basis: 100% !important;
		}
		.section-one {
			background: linear-gradient(45deg, #ee7752, #4e077e, #23a6d5, #23d5ab);
			background-size: 400% 400%;
			&:hover {
				border: none !important;
				animation: none;
			}
		}
		.section-two {
			background: linear-gradient(45deg, #23a6d5, #23d5ab, #ee7752, #e73c7e);
			background-size: 400% 400%;
			&:hover {
				border: none !important;
				animation: none;
			}
		}
	}
}

@keyframes gradient {
	100% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	0% {
		background-position: 0% 50%;
	}
}
