.kabinet-home {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.actions {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.grid-container {
  align-items: center;
  &.list {
    margin-bottom: 1rem;
  }
}

.list-title {
  color: white;
  margin-top: 2rem;
}
