@import './variables';

.nav {
	& .nav_toggle {
		background: none;
		border: none;
		border-radius: 4.6rem;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 0.8rem;
		width: 4.6rem;
		height: 4.6rem;

		&:hover {
			background: $light-gray;
			outline: none;
		}
		img {
			width: 3rem;
			height: 1.2rem;
		}
	}

	& .nav_menu {
		background: #fff;
		border-radius: 0.5rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		overflow: hidden;
		position: fixed;
		left: 50px;
		min-width: 15rem;
		z-index: 10;

		a {
			color: #000;
			display: block;
			font-size: 1.6rem;
			line-height: 1;
			width: 100%;
			margin: auto;
			text-decoration: none;

			h6 {
				padding: 2rem;
				margin: 0;
				display: flex;
				justify-content: center;
			}

			&:hover {
				background: $light-gray;
			}

			&[disabled] {
				background: transparent !important;
				cursor: default;
				opacity: 0.2;
			}
		}
	}
}
