@import '../../components/generic/styles/variables.scss';

.home-container {
	background-color: rosybrown;
	height: 100vh - $navHeight;
	min-height: 92vh;

	& .section-one {
		height: 100%;
		background-color: #bfbfbf;
	}

	& .section-two {
		height: 100%;
		background-color: #737070;
	}
}
