.kabinet-home {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.actions {
  padding: 0.5rem;
}
.grid-container {
  align-items: center;
  &.list {
    margin-bottom: 1rem;
  }
}

.list-title {
  color: white;
  margin-top: 2rem;
}

.popular-keywords {
  width: 100%;
}

.MuiButton-root.add-button {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.goback-button.MuiButton-outlinedPrimary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-self: flex-start;
  border: 1px solid #97989c;
  &:hover {
    border: 1px solid white;
  }
  span {
    color: white;
  }
}

.view-user-title {
  display: flex;
  align-items: center;
  svg {
    margin-right: 0.4rem;
  }
}
